.price__container {
  text-align: center;
  padding: 90px 20px;
  background-color: #1a1a1a; /* Black background */
}

.price__header {
  margin-bottom: 40px;
}

.price__header h2 {
  color: white; /* White text for header */
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.price__header p {
  color: #ffffff; /* White text for paragraph */
}

.price__grid {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.price__card {
  background-color: #1a1a1a; /* Dark background for cards */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price__card h4 {
  color: white; /* White text for card titles */
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price__card h3 {
  color: #f39c12; /* Orange text for prices */
  font-size: 2rem;
}

.price__card p {
  margin: 10px 0;
  color: #ffffff; /* White text for card descriptions */
}

@media (max-width: 768px) {
  .price__grid {
    flex-direction: column;
    gap: 20px;
  }
}
